:root {
  background-color: #060b17;
  color: #bcc;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 16px;
  font-weight: 400;
  line-height: 1.45;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;

  &:hover {
    color: #535bf2;
  }
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 0.5rem;
  border: 1px solid transparent;
  background-color: #ffff70;
  box-shadow: inset 0 0 0.5rem #ea4c13;
  color: #651b00;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  font-weight: 600;
  margin-block-start: 1rem;
  padding: 0.625em 1em;
  transition: border-color 0.25s;

  &:hover {
    border-color: #ea4c13;
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}
